<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="WellnessChecklist.css">

</head>

<body>
    <h1>Expense Tracker</h1>
<ol>
    <input type="checkbox" name="gym" id="wellness">
        <label for="agree">Walk</label>
    <input type="checkbox" name="gym" id="wellness">
        <label for="agree">Meditate</label>
    <input type="checkbox" name="gym" id="wellness">
        <label for="agree">Eat</label>
    <input type="checkbox" name="gym" id="wellness">
        <label for="agree">Shower</label>
    <input type="checkbox" name="gym" id="wellness">
        <label for="agree">Checked Emails</label>
    <input type="checkbox" name="gym" id="wellness">
        <label for="agree">Leetcode</label>
</ol>


<p>
    <div>
        <label for="January">January</label>
        <input type="radio" name="month" id="January" value="January">
    </div>
    <div>
        <label for="February">February</label>
        <input type="radio" name="month" id="February" value="February">
    </div>
    <div>
        <label for="March">March</label>
        <input type="radio" name="month" id="March" value="March">
    </div>    
    <div>
        <label for="April">April</label>
        <input type="radio" name="month" id="April" value="April">
    </div>
    <div>
        <label for="May">May</label>
        <input type="radio" name="month" id="May" value="May">
    </div>
    <div>
        <label for="June">June</label>
        <input type="radio" name="month" id="June" value="June">
    </div>
    <div>
        <label for="July">July</label>
        <input type="radio" name="month" id="July" value="July">
    </div>
    <div>
        <label for="August">August</label>
        <input type="radio" name="month" id="August" value="August">
    </div>
    <div>
        <label for="September">September</label>
        <input type="radio" name="month" id="September" value="September">
    </div>
    <div>
        <label for="October">October</label>
        <input type="radio" name="month" id="October" value="October">
    </div>
    <div>
        <label for="November">November</label>
        <input type="radio" name="month" id="November" value="November">
    </div>
    <div>
        <label for="December">December</label>
        <input type="radio" name="month" id="December" value="December">
    </div>
    
</p>
    </body>

</html>